.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  @media screen and (max-width: 800px) {
    height: 60px;
    padding: 10px;
    margin-bottom: 20px;
  }

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;

    @media screen and (max-width: 800px) {
      width: 50px;
      padding: 0;
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media screen and (max-width: 800px) {
      width: 80%;
    }

    .option {
      position: relative;
      padding: 10px 15px;
      cursor: pointer;

      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: width .3s ease-in-out;
        width: 0;
        height: 4px;
        background-color: #808282;
      }
      &:hover::after {
        width: 60%;
      }
    }
  }
}
